// ionclude all your related style here in the header, you can leave it empty if the page has no header
html, body { height:100%; min-height:100%; }
.page-header {
	margin-top:0;
}
.page-header .panel.wrapper {
	background-color:#34c6d1;
}
.page-header .header.panel {
	background-color:transparent;
	margin-bottom:0;
}
.page-header .header.panel li a {
	color:#fff;
}
.flexslider-8 li img {
	width:100%;
}
.logo img {
    font-size: 18px;
    color: #423939;
    padding: 0 20px;
    
}